# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user
/err.txt
/err.txt
echo
/etc/err.txt
/etc/foo.exe
/etc/out.txt
/out.txt
/err.txt
echo
/err.txt
echo
/10/geany.conf
/10/filedefs/filetypes.README
/10/keybindings.conf
/10/templates/templates.README
/outputinspector
/moc_predefs.h
/.directory
